@font-face {
    font-family: CormorantSC;
    src: url('Cormorantsc.ttf');
}

@font-face {
    font-family: Сleanvertising;
    src: url('cleanvertising-light.ttf');
}

@font-face {
    font-family: CormorantSC;
    font-weight: bold;
    src: url('Cormorantscbold.ttf');
}

@font-face {
    font-family: Raleway;
    src: url("Raleway-VariableFont_wght.ttf");
}

@font-face {
    font-family: Raleway;
    font-weight: 200;
    src: url("Raleway-Light.ttf");
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #f0eef4
}

.header {
    width: 100%
}

#icon {
    display: inline;
    vertical-align: 20px;
    width: 55px;
    height: 55px;
}

#name-app {
    color: #48466C;
    display: inline;
    font-size: 48px;
    vertical-align: 30px;
    font-family: CormorantSC, Arial, Helvetica, sans-serif;
}

#navigation {
    display: inline;
    float: right;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px
}

.text-heading {
    color: #9C9AC0;
    font-family: CormorantSC, Arial, Helvetica, sans-serif;
}

.text-normal {
    color: #48466C;
    font-family: Raleway, serif;
    font-size: 20px;
}

#article-heading {
    font-size: 80px;
    margin: 20px 35px 0;
}

#article_body {
    margin: 20px 35px 35px;
}

footer {
    color: #9C9AC0;
    width: 100%;
    font-family: CormorantSC, Arial, Helvetica, sans-serif;
    font-size: 24px;
    margin-left: 0px;
    margin-top: 90px;
    text-align: center
}

.navigation__button__sign-in {
    background-color: #48466C;
    border: none;
    color: white;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    font-family: Сleanvertising, serif;
    transition: background-color .3s;
    margin-right: 8px;
    margin-left: 8px;
    vertical-align: 10px
}

.navigation__button__sign-in:hover {
    background-color: #9C9AC0;
}

.button__icon {
    width: 20px;
    height: 20px;
    margin-right: 4px;
    margin-left: 8px;
    vertical-align: -5px;
}


.navigation__button {
    font-family: Сleanvertising, serif;
    font-weight: bold;
    vertical-align: 10px;
    text-decoration: none;
    color: #48466C;
}

.table {
    display: grid;
    background: transparent;
    grid-template-columns: repeat(auto-fill, 1fr);
    justify-content: stretch;
    row-gap: 15px;
    column-gap: 20px;
    border: 2px solid white;
    border-radius: 20px;
}

.table__meaning {
    margin-top: 20px;
    margin-left: 35px;
    margin-right: 35px;
}

.wrapper {
    border-radius: 15px;
    grid-column-start: 1;
    grid-column-end: 6;
    display: grid;
    grid-template-columns: subgrid;
    align-items: center;
}

.wrapper__meaning__card {
    margin-right: 15px;
    margin-left: 15px;
}

.table__header {
    background: #9C9AC0;
    margin-top: 15px;
}

.wrapper-even {
    background: #dbd9ef;
}

.wrapper-odd {
    background: #f4f3f7;
}

.table__element {
    font-size: 1.5vmax;
    margin: 3px;
}

.table__header__element {
    color: #FFFFFF;
    margin: 15px;
}

.nested {
    text-align: center;
}

.last_element {
    margin-bottom: 15px;
}

.navigation__button:hover {
    color: #9C9AC0;
}

@media (max-width: 499px) {
    #name-app {
        font-size: 0;
    }

    #article_heading {
        margin-right: auto;
        margin-left: auto;
        font-size: 72px;
        text-align: center;
    }

    #article_body {
        font-size: 18px;
        margin-right: auto;
        margin-left: auto;
    }

    .table__element {
        font-size: 1.1vmax;
        margin: 0;
    }

    .table__header__element {
        margin: 5px;
    }

    .table {
        column-gap: 0;
        row-gap: 0;
    }

    .table__meaning {
        margin-left: 0;
        margin-right: 0;
    }

    .wrapper__meaning__card {
        margin-right: 1px;
        margin-left: 1px;
    }

    .wrapper {
        margin: 1px;
    }
}

@media (max-width: 320px) {

    .wrapper__meaning__card {
        margin-right: 0;
        margin-left: 0;
    }
    .table__header {
        margin-top: 0;
    }

    .table__element {
        font-size: 1.25vmax;
    }
}

@media (max-width: 725px) {
    .table {
        column-gap: 3px;
        row-gap: 10px;
    }

    .table__meaning {
        margin-left: 3px;
        margin-right: 3px;
    }

    #navigation__button__profile {
        font-size: 0;
    }

    #navigation___button___home {
        font-size: 0;
    }

    #navigation__button__reading {
        font-size: 0;
    }

    #navigation__button__meaning {
        font-size: 0;
    }

    #main_block {
        flex-flow: column;
    }

    .wrapper__meaning__card {
        margin-right: 5px;
        margin-left: 5px;
    }
    .table__header {
        margin-top: 5px;
    }
}

@media (min-width: 2000px) {
    .text_normal {
        font-size: 1.5vmax;
    }

    #article_heading {
        font-size: 4vmax;
    }
}