@font-face {
    font-family: CormorantSC;
    src: url('Cormorantsc.ttf');
}

@font-face {
    font-family: Сleanvertising;
    src: url('cleanvertising-light.ttf');
}

@font-face {
    font-family: CormorantSC;
    font-weight: bold;
    src: url('Cormorantscbold.ttf');
}

@font-face {
    font-family: Raleway;
    src: url("Raleway-VariableFont_wght.ttf");
}

@font-face {
    font-family: Raleway;
    font-weight: 200;
    src: url("Raleway-Light.ttf");
}

html {
    scroll-behavior: smooth;
}

.text-heading {
    color: #9C9AC0;
    font-size: 80px;
    font-family: CormorantSC, Arial, Helvetica, sans-serif;
}

.text-normal {
    color: #48466C;
    font-family: Raleway, serif;
    font-size: 20px;
}

body {
    background-color: #f0eef4
}

.header {
    width: 100%
}

footer {
    color: #9C9AC0;
    width: 100%;
    font-family: CormorantSC, Arial, Helvetica, sans-serif;
    font-size: 24px;
    margin-left: 0;
    margin-top: 90px;
    text-align: center
}

.navigation__button__sign-in {
    background-color: #48466C;
    border: none;
    color: white;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    font-family: Сleanvertising, serif;
    transition: background-color .3s;
    margin-right: 8px;
    margin-left: 8px;
    vertical-align: 10px
}

.navigation__button__sign-in:hover {
    background-color: #9C9AC0;
}

.button__icon {
    width: 20px;
    height: 20px;
    margin-right: 4px;
    margin-left: 8px;
    vertical-align: -5px;
}


.navigation__button {
    font-family: Сleanvertising, serif;
    font-weight: bold;
    vertical-align: 10px;
    text-decoration: none;
    color: #48466C;
}

.navigation__button:hover {
    color: #9C9AC0;
}

#icon {
    display: inline;
    vertical-align: 20px;
    width: 55px;
    height: 55px;
}

#name-app {
    color: #48466C;
    display: inline;
    font-size: 48px;
    vertical-align: 30px;
    font-family: CormorantSC, Arial, Helvetica, sans-serif;
}

#navigation {
    display: inline;
    float: right;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px
}

.main_block {
    display: flex;
    flex-direction: row;
}

#text_block {
    flex: 1;
}

#image-block {
    flex: 1;
}

#article-heading {
    margin-left: 70px
}

#article-body {
    width: 450px;
    margin-left: 70px;
}

.image_block_card {
    height: 350px;
    box-shadow: 0 10px 20px #9C9AC0;
    border-radius: 10px;
}

#image_block_card_back_most_tilted {
    animation-name: unfold_cards_first;
    animation-duration: 2s;
    rotate: -30deg;
    position: absolute;
    margin-top: 100px;
    margin-left: 13%;
}

#image_block_card_back_tilted {
    animation-name: unfold_cards_second;
    animation-duration: 2s;
    rotate: -15deg;
    position: absolute;
    margin-top: 60px;
    margin-left: 20%;
}

#image_block_card_front {
    rotate: 0deg;
    position: absolute;
    margin-top: 50px;
    margin-left: 27%;
}

#text_heading_list {
    width: 100%;
    font-size: 40px;
    margin-left: 0;
    margin-top: 100px;
    text-align: center
}

.list-block {
    text-align: center;
}

#list {
    display: inline-block;
    text-align: left;
}


@media (max-width: 1240px) {
    #image_block_card_back_most_tilted {
        animation-name: unfold_cards_first_2;
        margin-left: 6%;
    }

    #image_block_card_back_tilted {
        animation-name: unfold_cards_second_2;
        margin-left: 13%;
    }

    #image_block_card_front {
        margin-left: 20%;
    }
}

@media (max-width: 1120px) {
    #image_block_card_back_most_tilted {
        animation-name: unfold_cards_first_3;
        margin-left: 0;
    }

    #image_block_card_back_tilted {
        animation-name: unfold_cards_second_3;
        margin-left: 7%;
    }

    #image_block_card_front {
        margin-left: 14%;
    }
}

@media (max-width: 1040px) {
    .main_block {
        flex-flow: column;
    }

    #image_block_card_back_most_tilted {
        animation-name: unfold_cards_first_4;
        rotate: -30deg;
        position: absolute;
        margin-top: 100px;
        margin-left: 30%;
    }

    #image_block_card_back_tilted {
        animation-name: unfold_cards_second_4;
        rotate: -15deg;
        position: absolute;
        margin-top: 60px;
        margin-left: 40%;
    }

    #image_block_card_front {
        rotate: 0deg;
        position: absolute;
        margin-top: 50px;
        margin-left: 50%;
    }

    .list-block {
        margin-top: 500px;
    }
}

@media (max-width: 725px) {
    #navigation__button__profile {
        font-size: 0;
    }

    #navigation__button__home {
        font-size: 0;
    }

    #navigation__button__reading {
        font-size: 0;
    }

    #navigation__button__meaning {
        font-size: 0;
    }

    .main_block {
        flex-flow: column;
    }
}

@media (max-width: 610px) {
    #article-heading {
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }

    #article-body {
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 499px) {
    #name-app {
        font-size: 0;
    }

    #article-heading {
        font-size: 48px;
    }
}

@media (max-width: 450px) {
    #image_block_card_back_most_tilted {
        animation-name: unfold_cards_first_5;
        margin-left: 10%;
    }

    #image_block_card_back_tilted {
        animation-name: unfold_cards_second_5;
        margin-left: 15%;
    }

    #image_block_card_front {
        margin-left: 20%;
    }
}

@keyframes unfold_cards_first {
    from {
        rotate: 0deg;
        position: absolute;
        margin-top: 50px;
        margin-left: 27%;
    }
    to {
        rotate: -30deg;
        position: absolute;
        margin-top: 100px;
        margin-left: 13%;
    }
}

@keyframes unfold_cards_second {
    from {
        rotate: 0deg;
        position: absolute;
        margin-top: 50px;
        margin-left: 27%;
    }
    to {
        rotate: -15deg;
        position: absolute;
        margin-top: 60px;
        margin-left: 20%;
    }
}

@keyframes unfold_cards_first_2 {
    from {
        rotate: 0deg;
        position: absolute;
        margin-top: 50px;
        margin-left: 20%;
    }
    to {
        rotate: -30deg;
        position: absolute;
        margin-top: 100px;
        margin-left: 6%;
    }
}

@keyframes unfold_cards_second_2 {
    from {
        rotate: 0deg;
        position: absolute;
        margin-top: 50px;
        margin-left: 20%;
    }
    to {
        rotate: -15deg;
        position: absolute;
        margin-top: 60px;
        margin-left: 13%;
    }
}

@keyframes unfold_cards_first_3 {
    from {
        rotate: 0deg;
        position: absolute;
        margin-top: 50px;
        margin-left: 14%;
    }
    to {
        rotate: -30deg;
        position: absolute;
        margin-top: 100px;
        margin-left: 0;
    }
}

@keyframes unfold_cards_second_3 {
    from {
        rotate: 0deg;
        position: absolute;
        margin-top: 50px;
        margin-left: 14%;
    }
    to {
        rotate: -15deg;
        position: absolute;
        margin-top: 60px;
        margin-left: 7%;
    }
}


@keyframes unfold_cards_first_4 {
    from {
        rotate: 0deg;
        position: absolute;
        margin-top: 50px;
        margin-left: 50%;
    }
    to {
        rotate: -30deg;
        position: absolute;
        margin-top: 100px;
        margin-left: 30%;
    }
}

@keyframes unfold_cards_second_4 {
    from {
        rotate: 0deg;
        position: absolute;
        margin-top: 50px;
        margin-left: 50%;
    }
    to {
        rotate: -15deg;
        position: absolute;
        margin-top: 60px;
        margin-left: 40%;
    }
}


@keyframes unfold_cards_first_5 {
    from {
        rotate: 0deg;
        position: absolute;
        margin-top: 50px;
        margin-left: 20%;
    }
    to {
        rotate: -30deg;
        position: absolute;
        margin-top: 100px;
        margin-left: 10%;
    }
}

@keyframes unfold_cards_second_5 {
    from {
        rotate: 0deg;
        position: absolute;
        margin-top: 50px;
        margin-left: 20%;
    }
    to {
        rotate: -15deg;
        position: absolute;
        margin-top: 60px;
        margin-left: 15%;
    }
}

@media (min-width: 2000px) {
    .text-normal {
        font-size: 1.5vmax;
    }

    #article-heading {
        font-size: 4vmax;
    }
}